/* font-family: 'Arvo', serif;
font-family: 'BioRhyme', serif;
font-family: 'BioRhyme Expanded', serif;
font-family: 'Archivo', sans-serif;
font-family: 'Archivo Narrow', sans-serif;*/

html,
body {
    margin: 0;
    /*background: #333;*/
    background: white;
}

#Main {
    position: absolute;
    height: ;
    padding-top: 0px;
    color: #fff;
}

#Main img {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    float: right;
}

h1 {
    font-family: 'BioRhyme Expanded', serif;
    font-size: 1.6em;
    font-weight: 800;
    margin: 0;
    padding-left: 0.6em;
    color: #006666;
}

/* TEST COMPLET */

#img02-2,
#img09-2 {
    display: none;
}


#groupe02:hover #img02,
#groupe09:hover #img09 {
    display: none;
}

#groupe02:hover #img02-2,
#groupe09:hover #img09-2 {
    display: block;
}

#croix02, #croix09 {
    cursor: pointer;
}

/* TEST du texte */

#texte02, #texte09 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 20%;
    padding: 0.4%;
    z-index: 950;
    background: blue;
    display: none;
}

#texte {
    font-family: 'BioRhyme', serif;
    color: white;
    background: #006666;
    position: fixed;
    z-index: 900;
    width: 20%;
    height: 100%;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
}

/* TEST croix */



/* */

#Main.canMove {
    cursor: grab;
}

#Main.inMove {
    cursor: grabbing;
}


/* TOOLBAR */

#ToolBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    font: 700 1em/40px sans-serif;
    color: #006666;
    z-index: 1000;
}

#ToolBar > div {
    display: inline-block;
    vertical-align: top;
}

#ToolBar span {
    cursor: pointer;
    transition: background .4s ease;
}

#ToolBar span:hover {
    color: black;
    background: white;
}

#modes span {
    font-family: 'BioRhyme', serif;
    display: inline-block;
    margin-right: 5px;
    padding: 0 15px;
    line-height: 30px;
    border: 1px solid white;
}

#modes span.active {
    color: blue;
}

#zoom {
    float: right;
}

#zoom span {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    margin-right: 1px;
    text-align: center;
}

#zoom span:before {
    content: attr(data-zoom);
}

#zoom input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
}
