html,
body {
    margin: 0;
    background: #333;
}

#Main {
    position: absolute;
    height: 300px;
    padding-top: 60px;
    color: #fff;
}

img {
    width: 100%;
    margin: 0;
    padding: 0px;
    float: right;
}

.deux:hover {
    opacity: 0.5;
    background-color: red;
}

#Main.canMove {
    cursor: grab;
}

#Main.inMove {
    cursor: grabbing;
}



/* TOOLBAR */

#ToolBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    font: 700 1em/40px sans-serif;
    color: #fff;
    background: #1f1f1f;
    background: rgba(31, 31, 31, .85);
    z-index: 1000;
}

#ToolBar > div {
    display: inline-block;
    vertical-align: top;
}

#ToolBar span {
    background: #4a4a4a;
    cursor: pointer;
    transition: background .4s ease;
}

#ToolBar span:hover {
    background: #616161;
}

#modes span {
    display: inline-block;
    margin-left: 5px;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 3px;
}

#modes span.active {
    height: 28px;
    border: 1px inset #000;
}

#zoom {
    float: right;
}

#zoom span {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    margin-right: 1px;
    text-align: center;
}

#zoom span:before {
    content: attr(data-zoom);
}

#zoom input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
}
